@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
}

form {
  margin: 0;
}

input[type="submit"], button {
  cursor: pointer;
  border: none;
}

input:not([type="checkbox"]), [type="radio"], select {
  border: none;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border: none;
  -webkit-appearance: none;
  overflow: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

*, *:focus {
  outline: none !important;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.inner::before, .find-solicitor .find-text::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px;
}

.inner > *, .find-solicitor .find-text > * {
  display: inline-block;
  vertical-align: middle;
}

.bg-grey {
  background: #f6f8f8;
}

.bg-blue {
  background: #30436b;
}

.bg-orange {
  background: #ef6223;
}

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -74px -101px;
  width: 29px;
  height: 30px;
}

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -64px;
  width: 35px;
  height: 35px;
}

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 35px;
  height: 34px;
}

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -64px 0px;
  width: 35px;
  height: 35px;
}

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px -36px;
  width: 35px;
  height: 34px;
}

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px 0px;
  width: 27px;
  height: 35px;
}

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -101px;
  width: 35px;
  height: 33px;
}

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -64px;
  width: 35px;
  height: 35px;
}

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px;
}

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -101px;
  width: 35px;
  height: 34px;
}

.serch-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px -37px;
  width: 19px;
  height: 19px;
}

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  height: 80px;
  width: 100%;
  background: #fff;
}

.header .logo {
  float: left;
  padding-top: 15px;
}

.header .header-nav {
  float: right;
  padding: 26px 20px 0 0;
}

.header .header-nav li {
  display: inline-block;
  margin-right: 25px;
}

.header .header-nav li a {
  font-size: 16px;
}

.header .header-nav li a:hover {
  color: #ef6223;
}

.form-control {
  height: 57px;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  color: #7e878d;
  padding: 0 14px 0 14px;
}

.form-btn {
  height: 57px;
  background: #f26523;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  color: #fff;
  padding: 0 27px 0 27px;
}

.icon {
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 16px;
  margin-right: 51px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
  margin-right: 8px;
  vertical-align: -3px;
}

input[type="checkbox"]:checked + label::before {
  background: #fff url("../img/checboxchecedbg.png") no-repeat center center;
}

.service-wrap .row {
  overflow: hidden;
  margin: 0 -10px;
}

.sub {
  font-size: 12px;
}

.sub:hover {
  color: #30436b;
}

.btn {
  border: 1px solid transparent;
  padding: 14px 25px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  font-size: 18px;
}

.btn.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn.btn-orange {
  border-color: #ef6223;
  color: #ef6223;
}

.btn.btn-orange:hover {
  background: #ef6223;
  color: #fff;
}

.footer {
  height: 222px;
  text-align: center;
  display: block;
}

.footer .footer-list {
  padding: 42px 0 0 0;
  text-align: center;
}

.footer .footer-list li {
  display: inline-block;
  font-size: 12px;
  margin: 0 12px 36px 0;
}

.footer .footer-list li a {
  color: #515a60;
}

.footer .footer-list li a:hover {
  color: #ef6224;
}

.footer span {
  display: block;
  padding-top: 30px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  color: transparent;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  border-top: 3px solid #ef6223;
  border-right: 3px solid #ef6223;
}

.slick-arrow.slick-prev {
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-135deg);
      -ms-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.slick-arrow.slick-next {
  right: -60px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
}

.inner .inner-block {
  color: #fff;
}

.inner .inner-block h1 {
  font-size: 72px;
  margin-bottom: 25px;
}

.inner .inner-block > span {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 40px;
}

.inner .inner-block .inner-form {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 25px 35px 43px 35px;
  text-align: left;
}

.inner .inner-block .inner-form .more-option {
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  padding: 8px 0 17px 0;
}

.inner .inner-block .inner-form .first-form .form-control {
  width: 325px;
  margin-right: 6px;
}

.inner .inner-block .inner-form .second-form {
  display: none;
}

.inner .inner-block .inner-form .second-form .input-group {
  text-align: left;
  margin-bottom: 13px;
}

.inner .inner-block .inner-form .second-form .input-group div {
  display: inline-block;
}

.inner .inner-block .inner-form .second-form .input-group div + div {
  margin-left: 6px;
}

.inner .inner-block .inner-form .second-form .input-group div label {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
}

.inner .inner-block .inner-form .second-form .input-group div input {
  width: 240px;
  height: 49px;
}

.simple-block {
  text-align: center;
  font-size: 18px;
  padding: 30px 0;
  border-bottom: 1px solid #e4ebec;
}

.simple-block a {
  color: #f26523;
}

.simple-block a:hover {
  color: #30436b;
}

.service-wrap {
  padding-top: 58px;
}

.service-wrap .service-item {
  width: 33.3333%;
  float: left;
  height: 220px;
  padding: 0 10px;
}

.service-wrap .service-item a {
  display: block;
  font-size: 20px;
  color: #ef6223;
  padding: 8px 0 12px 0;
}

.service-wrap .service-item p {
  font-size: 16px;
  color: #6c767e;
  line-height: 150%;
  width: 70%;
}

.more-areas .title {
  font-size: 24px;
  color: #515a60;
  margin: 40px 0 20px 0;
}

.more-areas .title .sub:hover {
  color: #ef6223;
}

.slider-wrap {
  padding: 15px 0;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
  margin-bottom: 73px;
}

.slider-wrap .areas-slider a {
  font-size: 16px;
  color: #f26523;
}

.legal-articles {
  overflow: hidden;
}

.legal-articles .title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.legal-articles .news-row {
  padding-top: 60px;
  margin: 0 -10px;
}

.legal-articles .news-row .news-post {
  width: 33.3333%;
  float: left;
  padding: 0 10px;
}

.legal-articles .news-row .news-post .news-content {
  background: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border-top: 6px solid #90bed5;
}

.legal-articles .news-row .news-post .news-content .title {
  font-size: 18px;
  color: #515a60;
  text-align: left;
  padding: 20px 10px 15px 20px;
  line-height: 125%;
}

.legal-articles .news-row .news-post .news-content p {
  font-size: 16px;
  color: #6c767e;
  padding: 0 30px 23px 20px;
  line-height: 150%;
}

.legal-articles .news-row .news-post .news-content p a {
  color: #30436b;
}

.legal-articles .news-row .news-post .news-content p a:hover {
  color: #f26523;
}

.category-btn {
  text-align: center;
}

.category-btn .title {
  font-size: 24px;
  color: #fff;
  padding: 60px 0 43px 0;
}

.category-btn .btn {
  font-size: 16px;
  margin-bottom: 78px;
}

.category-btn .btn + .btn {
  margin-left: 24px;
}

.category-btn .btn:hover {
  background: #ef6223;
}

.country-wrap .title {
  font-size: 38px;
  color: #515a60;
  text-align: center;
  padding: 55px 0 75px 0;
}

.country-wrap .btn {
  padding: 14px 15px;
  margin-bottom: 28px;
}

.country-wrap .btn + .btn {
  margin-left: 19px;
}

.country-wrap .btn:nth-child(6) {
  margin-left: 38px;
}

.find-solicitor {
  overflow: hidden;
  margin: 50px 0 75px 0;
}

.find-solicitor .find-text {
  width: 50%;
  float: left;
  padding: 20px 27px;
  font-size: 30px;
  color: #fff;
}

.find-solicitor .find-text span:last-child {
  padding-left: 20px;
}

.find-solicitor .country-link {
  width: 50%;
  float: left;
}

.find-solicitor .country-link .link {
  width: 33.3333%;
  float: left;
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-left: 1px solid #da5a1f;
}

.find-solicitor .country-link .link span:last-child {
  display: block;
  font-size: 14px;
  color: #a54619;
  padding-top: 6px;
}

.find-solicitor .country-link .link span:last-child:hover {
  color: #30436b;
}

.last-solicitor-block {
  overflow: hidden;
  padding: 45px 0 42px 0;
}

.last-solicitor-block .last-text {
  width: 50%;
  float: left;
  display: inline-block;
}

.last-solicitor-block .last-text .title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 15px;
}

.last-solicitor-block .last-text p {
  font-size: 16px;
  color: #dde3ee;
  line-height: 125%;
}

.last-solicitor-block .last-link {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-top: 40px;
}

.last-solicitor-block .last-link .btn {
  margin-left: 45px;
}

.last-solicitor-block .last-link .btn:hover {
  background: #ef6223;
}
